* {
	font-family: monospace;
	font-size: 25px;
}

.caja {
	background-color: hotpink;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	margin: 10px;
	border: 1px solid black;

	/* Cambia el tipo de cursor */
	cursor: crosshair;

	/* Lista de cursor: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor */
}

.caja:active {
	cursor: row-resize;
}