* {
	font-family: monospace;
	font-size: 25px;
}

.block-container {
	background-color: #69c;
	/* Para que se alineen las cajas dentro de un contenedor es necesario usar flex. El valor inline-block 
	no funciona dentro de un contenedor pero si dentro del selector de tipo div. */
	/* display: inline-block; */
	width: 100%;
	margin: 5px;
	padding: 10px;
}

 div {
 	background-color: lightgrey;
	display: inline-block;
}

.caja1 {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	border: 1px solid black;
}

.caja2 {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	border: 1px solid black;
}