* {
	font-family: monospace;
	font-weight: 100;
}

body {
	background-color: #222;
}

/* Pseudoelementos */
input::placeholder {
	font-style: italic;
}

textarea::placeholder {
	font-style: italic;
}

/* Contenedor flexible */
.flex-container {
	background: #333;
	max-width: 1000px;
	margin: 50px auto;
	padding: 20px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Contenedor del formulario */
.form-container {
	/* Los elementos flexibles no se reducen por debajo de su ancho minimo */
	min-width: 350px;
	padding: 30px;

	flex: 1; /* Reparte el ancho sobrante del contenedor al formulario (flex-grow) */
	order: 2;
}

/* El identificador de clase ".form_input" sirve para darle propiedades a cada componente de esa clase. */
.form__input {
	background: transparent;
	color: #fff;
	width: 100%;
	margin: 6px 0;
	border: none;
	outline: none;
	border-bottom: 3px solid #094;
	padding: 7px;
}

/* Le da propiedad a un componente en especifico, en este caso al textarea. */
.form-container textarea {
	min-height: 140px;
	resize: none;
}

.form__input:focus {
	background: linear-gradient(to bottom, transparent, #292929);
	border-bottom: 3px solid #5d9;
}

.form-container input[type="submit"] {
	background-color: #094;
	border-bottom: none;
	padding: 12px;
}

/* Mouse por arriba */
.form-container input[type="submit"]:hover {
	background-color: #072;
}

/* Click */
.form-container input[type="submit"]:focus {
	/* Establece un color que va del 072 al 050 hacia abajo */
	background: linear-gradient(to bottom, #072, #050);
}

/* Contenedor de la imagen */
.img-container {
	/* min-width: 400px;
	max-width: 400px; */
	padding: 10px;
	/* flex: 1 */
	order: 1;
}

.img-container div {
	padding: 10px;
}

.img-container img {
	width: 100%;
	margin: auto;
	max-width: 200px;
}

.img-container2 {
	margin: auto;
}

.img-container2 div {
	padding: 40px;
	text-align: center;
}


