* {
	font-family: monospace;
	font-weight: 100;
}

body {
	background-color: #222;
}

/* Pseudoelementos */
input::placeholder {
	font-style: italic;
}

textarea::placeholder {
	font-style: italic;
}

/* Contenedor flexible */
.flex-container {
	background: #333;
	max-width: 1000px;
	margin: 50px auto;
	padding: 20px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

/* Contenedor para el formulario */
.form {
	/* Los elementos flexibles no se reducen por debajo de su ancho minimo */
	min-width: 340px; /*  */
	padding: 30px;
	text-align: center;

	flex: 1; /* Reparte el ancho sobrante del contenedor al formulario */
	order: 2;
}

.form__input {
	background: transparent;
	color: #fff;
	width: 100%;
	margin: 6px 0;
	border: none;
	outline: none;
	border-bottom: 3px solid #094;
	padding: 7px;
}

.form__input:focus {
	background: linear-gradient(to bottom, transparent, #292929);
	border-bottom: 3px solid #5d9;
}

.form textarea {
	min-height: 140px;
	resize: none;
}

/* Contenedor para la imagen */
.form-img {
	/* Evita que se achique la imagen */
	min-width: 400px;
	max-width: 400px;
	padding: 10px;

	/* flex: 1; /* Por que no reparte el ancho al contenedor de la imagen? */
	order: 1;
}

/* Caja para la imagen  */
.form-img div {
	padding: 10px;
}

.form-img img {
	width: 100%;
	margin: auto;
	max-width: 200px;
}

.img-container {
	margin: auto;
}

.img-container div {
	padding: 40px;
	text-align: center;
}

.form input[type="submit"] {
	background-color: #094;
	border-bottom: none;
	padding: 12px;
}

/* Mouse por arriba */
.form input[type="submit"]:hover {
	background-color: #072;
}

/* Click */
.form input[type="submit"]:focus {
	/* Establece un color que va del 072 al 050 hacia abajo */
	background: linear-gradient(to bottom, #072, #050);
}
