/*
	Jerarquia de propiedades en el Box Model
		- screen
		- margin
		- border
		- padding
		- content
*/

div {
	/* Color de fondo */
	background-color: red;

	/* Caja en linea */
	display: inline-block;

	/* Alto y ancho de la caja */
	width: 160px;
	height: 80px;

	/* Texto centrado */
	text-align: center;

	/* Borde redondeado */
	/* border-radius: 10px; */

	/* Box Model */

	/* Margen externo */
	margin: 10px;

	/* Borde solido de 5px color negro */
	border: 5px solid black;

	/* Margen interno (top, right, bottom y left) */
	padding: 20px;
}

/* Cualquier borde o relleno se agrega al renderizado final. */
.content-box {
	box-sizing: content-box;
	/* Total width: 160px + (2 * 20px) + (2 * 5px) = 210px
     Total height: 80px + (2 * 20px) + (2 * 5px) = 130px
     Content box width: 160px
     Content box height: 80px */
}

/* El cuadro de contenido se reducira para absorber el tamaño adicional. */
.border-box {
	box-sizing: border-box;
	/* Total width: 160px
     Total height: 80px
     Content box width: 160px - (2 * 20px) - (2 * 5px)= 110px
     Content box height: 80px - (2 * 20px) - (2 * 5px) = 30px */

     /* Sombra de la caja: x, y, desenfoque, borde y color */
     box-shadow: 5px 7px 6px 0px #000;

     /* Sombra del texto: x, y, desenfoque y color */
     text-shadow: 2px 2px 7px #fff;

     /* Rota la caja -45 grados */
     transform: rotate(-45deg);

}
