* {
	font-family: monospace;
	font-size: 25px;
}

div {
	display: block;
	background: green;
	/* La posicion absoluta no reserva espacios pero guarda el punto de referencia, por lo tanto 
	la caja que esta abajo sube. */
	position: absolute; /* Esto tambien se aplica para las cajas hijas */
}

.contenedor {
	/* Le da una posicion static ya que se especifico una posicion absolute para los tipo divs */
	position: relative;
	border: 5px solid black;
	margin: 50px auto; /* La propiedad auto centra el contenedor en la pantalla, resumiendo el uso de 
	margin-left y margin-right. */
	height: 450px;
	width: 450px;
}

/* Esta es una forma de seleccionar los divs que estan adentro de un div */
div div {
	/* Si no utilizo un ancho y alto, entonces la caja se ajusta al contenido */
	background: violet;
}

.caja1 {
}

.caja2 {
	right: 0;
}

.caja3 {
	bottom: 0;
}

.caja4 {
	bottom: 0;
	right: 0;
}

.caja5 {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}