* {
	font-family: monospace;
	font-size: 25px;
}

div {
	margin: auto;
	margin-top: 50px;
	width: 320px;
	height: 350px;
	border: 5px solid black;
	background: red;

	/* overflow es un shorthand y su valor por defecto es visible. */

	/* En caso de que el contenido sobrepase la caja, nos da la posibilidad de scrollear dentro 
	de esta. */
	/* overflow: auto; */

	/* Coloca la barra de scroll por mas que no sea necesario. */
	overflow: scroll;

	/* Oculta la barra horizontal */
	overflow-x: hidden;
}