* {
	font-family: 'PT Mono', cursive;
	font-weight: 100;
	font-size: 30px;
}

h2 {

	/* Color de fondo */
	background-color: red;

	/* Caja en linea */
	display: inline-block;

	/* Margen interno (top, right, bottom y left) */
	padding: 20px;

	/* Alto y ancho de la caja (+ espacios del padding) */
	/* height: 200px; */
	width: 100px;

	/* Caja fija */
	box-sizing: border-box; /* content-box */

	/* Texto centrado */
	text-align: center;

	/* Margen externo */
	margin: 10px;

	/* Borde redondeado */
	border-radius: 10px;

}