* {
	font-family: monospace;
	font-weight: 100;
}

/* Variable global */
:root {
	--color-rojo: #f40;
	--color-azul-claro: #66f;
}

div {
	width: 150px;
	height: 150px;
	margin: 30px;
	padding: 30px;
}

/* Variable local */
p {
	--color-rojo: #f40;
}

.container1 {
	background: var(--color-rojo); /* Utiliza la variable global como valor */
}

.container2 {
	background: var(--color-azul-claro);
}