/*
	Jerarquias de especificidad
		- !important
		- estilos en linea
		- ID
		- Clases, pseudo-clases, atributos
		- elementos
		- pseudo-elementos
*/

h1 {
	color: pink !important;
}

#ID {
	color: red;
}

.clase {
	color: yellow;
}
