* {
	font-family: monospace;
	font-weight: 100;
}

body {
	background: radial-gradient(circle, #fff, #bbb);
	display: flex;
	padding: 15px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 10px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

img:last-child {
	grid-column: span 4;
}