* {
	font-family: monospace;
	font-weight: 100;
}

/* Contenedor */
.flex-container {
	background-color: #69c;
	/* Flex se maneja con el main axis (eje x) y cross axis (eje y).
	Las siguientes propiedades son reservadas solamente para los contenedores flexibles. */
	display: flex;
	height: 100vh; /* La unidad de medida vh es relativa a la altura de la ventana grafica y 
	ocupa todo el alto del contenedor flex (https://devcode.la/tutoriales/unidades-vh-vw-css/) */

	/* flex-wrap: nowrap; 		/* Sin saltos (valor por defecto) */
	flex-wrap: wrap; 		/* Las cajas bajan cuando se cambia la resolucion */
	/* flex-wrap: wrap-reverse; /* Las cajas suben cuando se cambia la resolucion */
	/* Abreviacion para reemplazar flex-direction y flow-wrap en una sola linea */
	/* flex-flow: column wrap;	/* Usarlo en caso de cambiar estas dos propiedades */

	/* -Direcciones */
	flex-direction: row;				/* Direccion en fila (valor por defecto) */
	/* flex-direction: column;			/* Direccion en columna */
	/* flex-direction: row-reverse;		/* Rotacion vertical */
	/* flex-direction: column-reverse;	/* Rotacion horizontal */	

	/* -Alineacion X */
	/* justify-content: left;			/* Izquierda (valor por defecto) */
	justify-content: center;			/* Centro */
	/* justify-content: right;			/* Derecha */
	/* justify-content: space-around;	/* Le da un margen automatico a todas las cajas */
	/* justify-content: space-between;	/* Deja la mayor cantidad de espacio entre cajas */
	/* justify-content: space-evenly;	/* Deja el mismo margen para todas las cajas, a diferencia de space-around 
	que deja el mismo margen a excepcion del primer margen izquierdo y ultimo margen derecho. */

	/* -Alineacion Y para UNA LINEA de items */
	/* align-items: stretch;	/* Se estira en caso de que no se defina un height para el item (valor por defecto) */
	/* align-items: flex-start;	/* Arriba */ 
	/* align-items: center;		/* Centro */
	/* align-items: flex-end;	/* Abajo */
	/* align-items: baseline;	/* Abajo *Util cuando se usa wrap-reverse */
	/* -Alineacion Y para MAS DE UNA LINEA de items */
	/* align-content: stretch; 	/* */
	/* align-content: flex-start; /* */
	align-content: center; /* */
	/* align-content: flex-end; /* */
	/* align-content: baseline; /* */
}

/* Contenido */
.flex-item {
	background-color: #248;
	color: #fff;
	text-align: center;
	/* min-width: 200px; /* Especifica el minimo de flexibilidad */
	width: 120px; 
	height: 120px; 
	margin: 5px;
	padding-top: 5px;
}

.primera-caja {
	background: red;
}

.ultima-caja {
	background: violet;

	/* -Alineaciones del cross axis para UN item */
	/* align-self: stretch; /* */
	/* align-self: flex-start; /* */
	/* align-self: center; /* */
	/* align-self: flex-end; /* */
	/* align-self: baseline; /* */
}